@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

.left-panel {
  background-color: #919191;
}

body {
  background-image: url("texture.png");
  font-family: "Oswald", sans-serif !important;
}

.profile-name {
  letter-spacing: 2px;
}
