@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

.left-panel {
  background-color: #919191;
}

body {
  background-image: url("texture.png");
  font-family: "Oswald", sans-serif !important;
}

.profile-name {
  letter-spacing: 2px;
}

.download-button {
  display: block;
  width: 24%;
  height: 40px;
  background: #438242;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
}

a:hover {
  text-decoration: none !important;
  color: white;
}